body {
  background-color: yellow;
}

.login__modal--hidden {
  display: none;
  /* width: 50vw;
  height: 50vh; */
  background: red;
  padding: 20px;
}

.login__modal--display {
  display: block;
  /* width: 50vw;
  height: 50vh; */
  background: red;
  padding: 20px;
}

.register__modal--hidden {
  display: none;
  /* width: 50vw;
  height: 50vh; */
  background:blue;
  padding: 20px;
}

.register__modal--display {
  display: block;
  /* width: 50vw;
  height: 50vh; */
  background:blue;
  padding: 20px;
}

#loginModal {
  background-color: red;
}

#registerModal {
  background-color: blue;
}
